{% extends "base.html" %}

{% block title %}
  <title> BOOKING </title>
{% endblock %}

{% block content %}
  <h1 class="display-2">Усі замовлення:</h1><br>

  <div class="container">
    <ul class="list-group">
      {% for booking in bookings %}
        <li class="list-group-item disabled"><h3>{{ booking }}</h3></li>
      {% endfor %}
    </ul>
  </div>
  <br>

  <h1 class="display-2">Зробити замовлення</h1>

  <button type="button" class="btn btn-primary">зробити замовлення</button>
{% endblock %}