{% extends "base.html" %}

{% block title %}
    <title>{{ floor }}</title>
{% endblock %}

{% block content %}
    <h1 class="display-2">Кімнати</h1><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Room</th>
                <th scope="col">Price</th>
                <th scope="col">Describe</th>
            </tr>
        </thead>
        <tbody>
            {% for room in floor.rooms.all %}
                <tr>
                    <th scope="row"><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.number }}</a></th>
                    <td><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.price }}</a></td>
                    <td><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.describe }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
