{% extends "base.html" %}

{% block title %}
    <title>Main page</title>
{% endblock %}

{% block content %}
    <div class="p-3 mb-2 bg-primary bg-gradient text-info-emphasis">
        <h1 class="display-4 text-start" style="user-select: none">Вітаємо на сайті реєстрування кімнат у готелі "coolhotel1"</h1>
        <h2 class="display-7 text-end" style="user-select: none">Знайдіть ідеальну кімнату для мешкання у нашому готелі!</h2>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="user-select: none">Floor</th>
                <th scope="col" style="user-select: none">Room</th>
                <th scope="col" style="user-select: none">Price</th>
                <th scope="col" style="user-select: none">Describe</th>
            </tr>
        </thead>
        <tbody>
            {% for floor in floors %}
                {% for room in floor.rooms.all %}
                    <tr>
                        <th scope="row"><a href="/floor/{{ floor.id }}" style="text-decoration: none">{{ floor.number }}</th>
                            <td><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.number }}</a></td>
                            <td><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.price }}</a></td>
                            <td><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.describe }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}