{% extends "base.html" %}

{% block title %}
    <title>Main page</title>
{% endblock %}

{% block content %}
    {% load static %}

    <div class="p-3 mb-2 bg-primary bg-gradient text-info-emphasis">
        <h1 class="display-4 text-start" style="user-select: none">Вітаємо на сайті реєстрування кімнат у готелі "coolhotel1"</h1>
        <h2 class="display-7 text-end" style="user-select: none">Знайдіть ідеальну кімнату для мешкання у нашому готелі!</h2>
    </div>

    <div class="container text-bg-secondary p-2">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="INPUT 1" aria-label="Search">
            <input class="form-control me-2" type="search" placeholder="INPUT 2" aria-label="Search">
            <input class="form-control me-2" type="search" placeholder="Кількість осіб" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Шукати</button>
        </form>
    </div>
    <br>
    <div class="container">
        <h5 class="display-6 text-start">Кімнати зі скидками</h5>
        <br>
        <div id="carouselDiscounts" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">1</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">2</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">3</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">4</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">5</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">6</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselDiscounts" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselDiscounts" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">next</span>
            </button>
        </div>
    </div>
    <br>
    <div class="container">
        <h5 class="display-6 text-start">Пошук за типом помешкання</h5>
        <br>
        <div id="carouselType" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">1</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">2</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">3</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">4</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">5</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">6</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselType" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselType" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">next</span>
            </button>
        </div>

    </div>
    <br>
    <div class="container">
        <h5 class="display-6 text-start">Забронюйте наші найпопулярніші кімнати</h5>
        <br>
        <div id="carouselTrend" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">1</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">2</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">3</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">4</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">5</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <div class="card border-dark" style="width: 15rem;">
                                    <img src="{% static 'images/room.jpg' %}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">6</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTrend" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTrend" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">next</span>
            </button>
        </div>

    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="user-select: none">Floor</th>
                <th scope="col" style="user-select: none">Room</th>
                <th scope="col" style="user-select: none">Price</th>
                <th scope="col" style="user-select: none">Describe</th>
            </tr>
        </thead>
        <tbody>
            {% for floor in floors %}
                {% for room in floor.rooms.all %}
                    <tr>
                        <th scope="row"><a href="/floor/{{ floor.id }}" style="text-decoration: none">{{ floor.number }}</th>
                            <td><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.number }}</a></td>
                            <td><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.price }}</a></td>
                            <td><a href="/room/{{ room.id }}" style="text-decoration: none">{{ room.describe }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}